@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Learn Tricks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrickName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LearnTrickID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
