@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "Hardflip";
}

<h2 class="trick-title">Hardflip</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/2FIQwmB362w" frameborder="0" allowfullscreen></iframe></div>

