@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "Heelflip";
}

<h2 class="trick-title">Heelflip</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/OvJUBb9aXZI" frameborder="0" allowfullscreen></iframe></div>

