@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "Lazerflip";
}

<h2 class="trick-title">Lazerflip</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/B991k5v-cvE" frameborder="0" allowfullscreen></iframe></div>

