@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "Ollie";
}

<h2 class="trick-title">Ollie</h2>


<div class="trick-videos">
    <iframe class ="videos"width="854" height="480" src="https://www.youtube.com/embed/QkeOAcj8Y5k" frameborder="0" allowfullscreen></iframe>

</div>

