@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "180";
}

<h2 class="trick-title">FrontSide 180</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/YSK8oiwRQdk" frameborder="0" allowfullscreen></iframe>
</div>

<h2 class="trick-title">BackSide 180</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/l7raisJGnlE" frameborder="0" allowfullscreen></iframe></div>

