@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "PopShuvit";
}

<h2 class="trick-title">Pop-Shuvit</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/Oq9Y3i7HD40" frameborder="0" allowfullscreen></iframe></div>