@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "VarialHeelflip";
}

<h2 class="trick-title">Varial Heelflip</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/iCyRLt3cM0o" frameborder="0" allowfullscreen></iframe></div>

