@model SkateSpotsFinalProject.Models.LearnTrick

@{
    ViewBag.Title = "VarialKickflip";
}

<h2 class="trick-title">Varial Kickflip</h2>

<div class="trick-videos"><iframe width="854" height="480" src="https://www.youtube.com/embed/9aPXkbtqbms" frameborder="0" allowfullscreen></iframe></div>

