@{
    ViewBag.Title = "Sk8Spots";
}

<div class="jumbotron">
    <h1 class="home-h1">Sk8Spots</h1>
    <p class="lead" id="home-lead">The Sk8Spots App is used for: </p>
    <ul>
        <li class="home-list">Learning new and exciting tricks</li>
        <li class="home-list">Logging your progress as you learn</li>
        <li class="home-list">Finding and adding your own local skatespots to share with the community</li>
    </ul>
    <p class="home-p">Start here by learning some new tricks, with an easy step by step video tutorial of each trick!</p>
    <p><a href="/LearnTricks" class="btn btn-info btn-lg" id="home-btn">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Log Your Sessions!</h2>
        <p class="home-text">
            Sk8Spots has a whole section to log your progress of the tricks you are learning. Track what trick you practiced, your attempts, time,
            and if you landed successfully or not.<br />
            Track your progress below!
        </p>
        <p><a class="btn btn-info" href="/SkateLoggers">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Find Skatespots Near You!</h2>
        <p class="home-text">Don't know of many local spots or tired of the same ones you always visit? Use our community map to find or add local spots with descriptions and pins of each spots location.<br />
        Find spots below!</p>
        <p><a class="btn btn-info" href="/SkateSpots">Get Started &raquo;</a></p>
    </div>
   
</div>