body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map {
   height:580px;
   width:55%;
   margin: 0 auto;
   max-height:600px;
}
#coords{
    background-color:black;
    color:white;
    padding: 5px;
}
#bottom-margin {
    margin-bottom: -15px;
}
#skateSpotsTitle {
    font-size: 2em;
    text-align:center;
    margin-left: -45%;
}
.navbar.navbar-inverse.navbar-fixed-top {
    background-color: darkcyan;
}
.home-list {
    line-height:2em;
    font-size: 1.7em;
}
#home-lead {
    font-size:2em;
}
.home-h1 {
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: -20px;
}
.jumbotron .home-p {
    font-size: 2em;
    padding-bottom: 10px;
}
#home-btn {
    margin-left:30px;
}
.home-text {
    font-size: 1.3em;
}
div.jumbotron {
    padding-bottom:30px;
}
.trick-title {
    text-align:center;
}
.trick-videos {
    text-align:center;
}
.trickLinks {
    font-size: 1.3em;
    line-height: 2em;
    color:darkcyan;
}
#searchForm {
    margin-bottom: 10px;
    margin-left: -10px;
}
#searchButton {
    margin-left: -66px;
    z-index:500;
}


